body {
    font-size: 0.9375rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 230.5px 560px;
    margin: 0 0;
    background-color: hsl(212, 45%, 89%);
}


h1 {
    font-weight: 700;
}

img {
    width: 300px;
}

.qr-code-container {
    padding: 16px 16px;
    width: 300px;
    background-color: white;
}