:root {
    --main-bg-color: #D5E1EF;
    --main-font-color: #68778D;
}

body {
    font-size: 0.9375rem;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block-start: clamp(3.75rem, 16vw, 14.406rem);
    padding-block-end: clamp(3.75rem, 16vw, 14.406rem);
    padding-inline-start: clamp(9.125rem, 39vw, 35rem);
    padding-inline-end: clamp(9.125rem, 39vw, 35rem);
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    line-height: 140%;
    letter-spacing: 0.2px;
}

body, p {
    margin: 0;
}

h1, p {
    padding: 0 16px;
}

h1 {
    font-weight: 700;
    font-size: 1.375rem;
    margin: 24px 0 16px 0;
    color: #1F314F;
    line-height: 120%;
    letter-spacing: 0;
}

img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.qr-code-container {
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    width: 320px;
    height: 499px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
}

.attribution {
    margin: 12px 0 0 0;
    text-align: center;
}